* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: #000;
}

.h-div h2{
  font-style: normal;
}

h1{
  font-weight: 100;
  font-size: 28px;
}

.h-div {
  width: 60%;
  text-align: center;
  margin: 16px  auto;
}

.h-ul {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.m-1{
  width:100%;
  max-width: 1920px;
  object-fit: cover;
  margin-bottom: 30px;
  height: 420px;
}

h2{
  font-size: 25px;
  text-align: center;
  margin: 90px auto 40px auto;
}

.a-ul{
  font-size: 14px;
  padding: 0 20px;
}

P{
  font-size: 14px;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: justify;
}



.n-1{
  width: 90%;
  font-size: 14px;
  margin: 0 auto;
  border-bottom: solid 1px  rgb(200, 200, 200);
}

.n-1 dt{
  border-bottom: none;
  border-top: solid 1px  rgb(200, 200, 200);
  padding-top: 15px; 
}

.n-1 dd{
  padding-bottom: 15px; 
}

h3{
  font-size: 25px;
  text-align: center;
  margin: 30px auto;
}

.con{
  font-size: 14px;
  margin: 40px auto;
  padding-left: 40px;
}

label{
  margin-left: 0;
}

.c-1{
  width: 95%;
  height: 40px;
  line-height: 1;
  border: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  outline: 0;
}

.c-2{
  width: 95%;
  padding: 10px;
  line-height: 4;
  border: 1px solid rgb(177, 177, 177);
  box-sizing: border-box;
  margin: 0.5em 0;
  height: 10em;
  outline: 0;
}

.c-1 .c-2:hover{
  outline: 1px solid rgb(177, 177, 177);
}

button{
  display: block;
  text-align: center;
  margin:auto;
  width: 200px;
  padding: 15px 40px;
  font-size: 16px;
  color: white;
  background: #000;
}

footer{
  background: #24292e;
  color:#fff;
  font-size: 0.5rem;
  padding: 10px 20px;
  text-align: center;
}